button {
    background-color: white;
    border: 6px solid #123a63;
    border-radius: 10px;
  }
  .game-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #123a63;
    color: white;
    border: 6px solid #123a63;;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .grid-row {
    border-radius: 6px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #123a63;
  }

  .X {
    background-color:rgba(216, 9, 9, 0.912);
    color: white;
  }

  .O {
    background-color: rgba(255, 221, 0, 0.889);
  }

  .emptyButton {
    background-color: white        
  }

  .replay {
    background: linear-gradient(rgba(216, 9, 9, 0.912), rgba(255, 221, 0, 0.889));
    border-radius: 6px;
    border-color: white;
    color: white;
  }